@import "tailwindcss";

/* custom fonts regular bold */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Upright";
  src: url("/assets/fonts/Cormorant_Upright/CormorantUpright-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Upright";
  src: url("/assets/fonts/Cormorant_Upright/CormorantUpright-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins";
  --font-cormorant-upright: "Cormorant Upright";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-cormorant-upright: var(--font-cormorant-upright);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    /* Force light mode base for this design as requested */
    --foreground: #171717;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-cormorant-upright {
  font-family: var(--font-cormorant-upright);
}

/* Custom Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

@utility animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

@utility animate-scale-up {
  animation: scaleUp 10s ease-out forwards;
}